{% extends "template.html" %}
{% block title %}IPTables Management{% endblock %}
{% block content %}

  <section>
    <div class="container">
      <div class="row">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">HandBall Univ-Savoie/a></li>
            <li class="breadcrumb-item active" aria-current="page">Accueil</li>
          </ol>
        </nav>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header">
              Bonjour et bienvenue sur le site web Handball Univ-Savoie.
            </div>
            <div class="card-body">
              <p>
                               <br />
                <br />Vous pourrez retrouver sur le site :
                <br />- Le listing des équipes
                <br />- Les matchs
              </p>
              <p class="text-info">Pour un information un match se déroulera le 01/04/2018</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}